<div id="graphOptions">
	<button type="button" class="btn graphTypeButton" data-type="line">Line</button>
	<button type="button" class="btn graphTypeButton" data-type="bar">Bar</button>
	<button type="button" class="btn graphTypeButton" data-type="spline">Spline</button>
	<button type="button" class="btn graphTypeButton" data-type="area">Area</button>
	<button type="button" class="btn graphTypeButton" data-type="areaspline">AreaSpline</button>
	<button type="button" class="btn graphTypeButton" data-type="scatter">Scatter</button>
	<button type="button" class="btn graphTypeButton" data-type="pie">Pie</button>
</div>